body{
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: black;
  color: white;
  flex-wrap: wrap;
}

.navbar-section {
  display: flex;
  align-items: center;
}



.navbar-logo {
  background-color: transparent;
  /* height: 40px; */
  width: 80px;
  margin-right: 16px;
}

.navbar-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.navbar-links.expanded {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* padding: 16px; */
  background-color: #232f3e;
}

.navbar-user-info {
  margin-right: 16px;
}

.navbar-user-name {
  font-weight: bold;
  font-size: x-small;

}


.navbar-user-address {
  font-size: x-small;
  /* font-size: 0.875rem; */
}
.location{
  display: flex;
}

.navbar-search {
  display: flex;
  margin: 0 16px;
  width: 100%;
  max-width: 300px;
}

.navbar-search-input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.navbar-search-button {
  background-color: #febd69;
  border: none;
  padding: 8px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.navbar-user-dropdown {
  position: relative;
  margin-right: 16px;
}

.navbar-dropdown-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
font-size: x-small;
  font-weight: bold;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 12px;
}

.navbar-dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.navbar-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar-user-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.navbar-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: x-small;
  margin-right: 16px;
}

.navbar-signin,
.navbar-signup {
  background-color: #febd69;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links.expanded {
    display: flex;
  }

  .navbar-search {
    margin: 8px 0;
    width: 100%;
  }
  
  .navbar-button {
    margin: 8px 0;
  }

  .navbar-signin,
  .navbar-signup {
    margin: 8px 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-section {
    width: 100%;
    justify-content: space-between;
  }

  .navbar-search {
    margin: 8px 0;
    width: 100%;
    max-width: none;
  }

  .navbar-search-input {
    padding: 8px;
  }

  .navbar-search-button {
    padding: 8px;
  }

  .navbar-button {
    margin: 8px 0;
  }

  .navbar-signin,
  .navbar-signup {
    margin: 8px 0;
  }
}
