.footer {
    background: #091028;
    color: white;
    padding: 50px;
    list-style: none;
  }
  .row li{
    font-size: x-small;
  }
  .row p{
    font-size: medium;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .firstcol {
    margin-bottom: 20px;
  }
  
  .firstcol ul {
    list-style-type: none;
    padding: 0;
  }
  
  .firstcol li {
    margin: 5px 0;
  }
  
  .language-selector {
    position: relative;
  }
  
  .language-button {
    color: rgb(196, 170, 170);
    padding: 4px;
    border-radius: 5px;
    padding: 10px;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .language-button .fa-globe {
    margin-right: 5px;
  }
  
  .language-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .language-dropdown li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .language-dropdown li:hover {
    background-color: #f3f3f3;
  }
  
  .image {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 50px;
  }
  
  .black {
    background: #000;
    color: white;
    padding: 30px 20px;
  }
  
  .black li, .black p {
    font-size: xx-small;
  }
  
  li{
    list-style: none;
  }
  .black li {
    color: #ccc;
  }
  
  .copy {
    margin-top: 30px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .language-selector {
      margin-top: 20px;
    }
  
    .row2 {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  
    .row3, .row4 {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 20px;
    }
  
    .language-button {
      font-size: 14px;
    }
  
    .navbar-logo {
      height: 40px;
    }
  
    .black li, .black p {
      font-size: x-small;
    }
  }
  